<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hms1.mapper.BillingManagementMapper">
    
    <resultMap type="BillingManagement" id="BillingManagementResult">
        <result property="billingId"    column="billing_id"    />
        <result property="recordId"    column="record_id"    />
        <result property="amount"    column="amount"    />
        <result property="paymentStatus"    column="payment_status"    />
    </resultMap>

    <sql id="selectBillingManagementVo">
        select billing_id, record_id, amount, payment_status from billing_management
    </sql>

    <select id="selectBillingManagementList" parameterType="BillingManagement" resultMap="BillingManagementResult">
        <include refid="selectBillingManagementVo"/>
        <where>  
            <if test="recordId != null  and recordId != ''"> and record_id = #{recordId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and payment_status = #{paymentStatus}</if>
        </where>
    </select>
    
    <select id="selectBillingManagementByBillingId" parameterType="String" resultMap="BillingManagementResult">
        <include refid="selectBillingManagementVo"/>
        where billing_id = #{billingId}
    </select>
        
    <insert id="insertBillingManagement" parameterType="BillingManagement">
        insert into billing_management
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="billingId != null">billing_id,</if>
            <if test="recordId != null and recordId != ''">record_id,</if>
            <if test="amount != null">amount,</if>
            <if test="paymentStatus != null and paymentStatus != ''">payment_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="billingId != null">#{billingId},</if>
            <if test="recordId != null and recordId != ''">#{recordId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="paymentStatus != null and paymentStatus != ''">#{paymentStatus},</if>
         </trim>
    </insert>

    <update id="updateBillingManagement" parameterType="BillingManagement">
        update billing_management
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null and recordId != ''">record_id = #{recordId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="paymentStatus != null and paymentStatus != ''">payment_status = #{paymentStatus},</if>
        </trim>
        where billing_id = #{billingId}
    </update>

    <delete id="deleteBillingManagementByBillingId" parameterType="String">
        delete from billing_management where billing_id = #{billingId}
    </delete>

    <delete id="deleteBillingManagementByBillingIds" parameterType="String">
        delete from billing_management where billing_id in 
        <foreach item="billingId" collection="array" open="(" separator="," close=")">
            #{billingId}
        </foreach>
    </delete>
</mapper>