<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jxgl.mapper.JxCourseMapper">

    <resultMap type="JxCourse" id="JxCourseResult">
        <id     property="cno"        column="cno"       />
        <result property="cname"      column="cname"     />
        <result property="cpno"      column="cpno"     />
        <result property="ccredit"      column="ccredit"     />
    </resultMap>

    <sql id="selectCourseVo">
        select *
        from jx_course
    </sql>

    <select id="selectCourseList" parameterType="JxCourse" resultMap="JxCourseResult">
        <include refid="selectCourseVo"/>

        <where>
            <if test="cno != null and cno != ''">
                AND cno like #{cno}
            </if>
            <if test="cname != null and cname != ''">
                AND cname like concat("%", #{cname}, "%")
            </if>
            <if test="cpno != null and cpno != ''">
                AND cpno like concat("%", #{cpno}, "%")
            </if>
            <if test="ccredit != null and ccredit != ''">
                AND ccredit like #{ccredit}
            </if>
        </where>
    </select>



</mapper>