<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hms.mapper.PatientManagementMapper">
    
    <resultMap type="PatientManagement" id="PatientManagementResult">
        <result property="patientId"    column="patient_id"    />
        <result property="fullName"    column="full_name"    />
        <result property="gender"    column="gender"    />
        <result property="age"    column="age"    />
        <result property="contact"    column="contact"    />
    </resultMap>

    <sql id="selectPatientManagementVo">
        select patient_id, full_name, gender, age, contact from patient_management
    </sql>

    <select id="selectPatientManagementList" parameterType="PatientManagement" resultMap="PatientManagementResult">
        <include refid="selectPatientManagementVo"/>
        <where>  
            <if test="fullName != null  and fullName != ''"> and full_name like concat('%', #{fullName}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
        </where>
    </select>
    
    <select id="selectPatientManagementByPatientId" parameterType="Long" resultMap="PatientManagementResult">
        <include refid="selectPatientManagementVo"/>
        where patient_id = #{patientId}
    </select>
        
    <insert id="insertPatientManagement" parameterType="PatientManagement">
        insert into patient_management
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="fullName != null and fullName != ''">full_name,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="age != null">age,</if>
            <if test="contact != null and contact != ''">contact,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="fullName != null and fullName != ''">#{fullName},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="age != null">#{age},</if>
            <if test="contact != null and contact != ''">#{contact},</if>
         </trim>
    </insert>

    <update id="updatePatientManagement" parameterType="PatientManagement">
        update patient_management
        <trim prefix="SET" suffixOverrides=",">
            <if test="fullName != null and fullName != ''">full_name = #{fullName},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="contact != null and contact != ''">contact = #{contact},</if>
        </trim>
        where patient_id = #{patientId}
    </update>

    <delete id="deletePatientManagementByPatientId" parameterType="Long">
        delete from patient_management where patient_id = #{patientId}
    </delete>

    <delete id="deletePatientManagementByPatientIds" parameterType="String">
        delete from patient_management where patient_id in 
        <foreach item="patientId" collection="array" open="(" separator="," close=")">
            #{patientId}
        </foreach>
    </delete>
</mapper>